.custom-popup {
  width: 250px !important;
}

.popup-card {
  font-family: 'Segoe UI', sans-serif;
  font-size: 13px;
  color: #333;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.popup-card p {
  margin: 6px 0;
}

.wrap-text {
  word-wrap: break-word;
  white-space: normal;
  font-weight: 600;
  color: #2b2b2b;
}
.card-title {
    font-size: 1.25rem;
    font-weight: 600;
  }
  